html { font-size: 100%; }
ul, body, table, li, fieldset {
  margin: 0;
  padding: 0;
}
tt, blockquote, code { font-size: 1em; }
body {
  font-family: Arial, Verdana, Helvetica, sans-serif;
  color: #000000;
}
img {
  border: 0;
  line-height: 0;
}
hr { border: 0px solid #000000; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: underline;
  line-height: 1em;
  margin: 0;
  padding: 0;
}
a:hover { text-decoration: none; }
ul {
  list-style-type: none;
  list-style-position: outside;
}
h1, h2, h3, h4 {
  font-size: 1em;
  margin: 1em 0;
}
fieldset { border: 0; }
input, button {
  padding: 0;
  border: 0;
}

.upper { text-transform: uppercase; }
.lower { text-transform: lowercase; }
.cap { text-transform: capitalize; }

.clear:after{
	content: "\0020";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	font-size: 0;
}
.clear{
    zoom: 1;
    overflow: hidden;
}

